# 2 Variables

$Y = A \oplus B$

In [4]:
import pandas as pd

TRUTH_TABLE = pd.DataFrame([
    [str(x) for x in [0,0,0]],
    [str(x) for x in [0,1,1]],
    [str(x) for x in [1,0,1]],
    [str(x) for x in [1,1,0]],
])

TRUTH_TABLE.columns = ['A','B','Y']
TRUTH_TABLE

   A  B  Y
0  0  0  0
1  0  1  1
2  1  0  1
3  1  1  0

In [45]:
def gen_2_kmap(TRUTH_TABLE):
    kmap = [[-1 for _ in range(2)] for _ in range(2)]

    for a in range(2):
        for b in range(2):
            kmap[b][a] = TRUTH_TABLE[(TRUTH_TABLE['A']==str(a)) & (TRUTH_TABLE['B']==str(b))].iloc[0,-1]
    df = pd.DataFrame(kmap)
    df.index = ['0','1']
    df.columns = ['0','1']
    return df

kmap = gen_2_kmap(TRUTH_TABLE)

def determine_state(var, value):
    if value=='1':
        return var
    else:
        return var+"\'"
    
kmap

   0  1
0  0  1
1  1  0

# 3 Variables

$Y = A\cdot B + C'$

In [44]:
TRUTH_TABLE_3 = pd.DataFrame([
    [str(x) for x in [0,0,0,1]],
    [str(x) for x in [0,0,1,0]],
    [str(x) for x in [0,1,0,1]],
    [str(x) for x in [0,1,1,0]],
    [str(x) for x in [1,0,0,1]],
    [str(x) for x in [1,0,1,0]],
    [str(x) for x in [1,1,0,1]],
    [str(x) for x in [1,1,1,1]]
])

TRUTH_TABLE_3.columns = ['A','B','C','Y']
TRUTH_TABLE_3

   A  B  C  Y
0  0  0  0  1
1  0  0  1  0
2  0  1  0  1
3  0  1  1  0
4  1  0  0  1
5  1  0  1  0
6  1  1  0  1
7  1  1  1  1

In [46]:
def map2(gray_order,a,b):
    return gray_order.index(str(a)+str(b))

def gen_3_kmap(TRUTH_TABLE):
    kmap = [[0 for _ in range(4)] for _ in range(2)]
    gray_code_order = ['00','01','11','10']
    for a in range(2):
        for b in range(2):
            for c in range(2):
                kmap[c][map2(gray_code_order,a,b)] = TRUTH_TABLE[(TRUTH_TABLE['A']==str(a)) & (TRUTH_TABLE['B']==str(b)) & (TRUTH_TABLE['C']==str(c))].iloc[0,-1]

    kmap_df = pd.DataFrame(kmap,index=['0','1'])
    kmap_df.columns = gray_code_order
    return kmap_df

gen_3_kmap(TRUTH_TABLE_3)

  00 01 11 10
0  1  1  1  1
1  0  0  1  0